.section {
  background-color: #f8f9fa;
  padding: 2rem;
  /* margin: 2rem; */
  width: 140rem;
}
.section-heading {
  font-size: 15px;
  margin-left: 10rem;
  padding: 3rem;
}
.section-text {
  display: flex;
  flex-direction: column;

  width: 11%;

  color: #4c4c51;
  line-height: 5rem;
  padding: 4rem;
}



.service-btn {
  color: #0062ad;
  border: none;
  
  background-color: #f8f9fa;
  padding: 2rem;
}
.section-text:hover {
  text-decoration: underline;
}
.section-bottom {
  color: #0062ad;
}

.azureservice-card {
  width: 13rem;
  height: 15rem;
  text-align: center;
  line-height: 1rem;
  box-shadow: 0 5px 5px rgb(0 0 0 / 14%);
}
.azureservice-card h {
  color: #0062ad;
  padding: 2rem;
}
.azureservice-info {
  display: flex;
}
.main-card {
  display: flex;
}
.section-first {
  display: flex;
  
}
.azure-portal img {
  max-width: 30rem;
  height: 25rem;
  border: 1.7rem solid black;

  border-radius: 10px;
  box-shadow: 0 10px 20px rgb(0 0 0 / 14%);
}
.azure-portal img:hover {
  transition: 0.4s;
  animation: ease-in;
  transform: translateX(10%); 
}
.azure-portal h5 {
  color: #0062ad;
  line-height: 2rem;
}
.card-section {
 
  display: flex;
  flex-wrap: wrap;
  padding-left: 6rem;
  

}

.popular {
  background-color: #f8f9fa;
  border: none;
 padding-left: 3rem;
}
.popular:hover{
  text-decoration: underline;
}
