.azuremigration {
    background-color: #f8f9fa;
    display: flex;
    align-items: center;
  }
  .azuremigration img {
    width: 33rem;
    height: 35rem;
    margin: 2rem;
    justify-content: center;
    align-items: center;
  
    margin-left: 15rem;
    margin-top: 2rem;
    object-fit: cover;
  }
  .azuremigration-text {
    padding: 5rem;
  
    text-align: center;
    justify-content: center;
    margin-bottom: 5rem;
    line-height: 4rem;
  }
  .migration-text {
    color: black;
    font-size: 1.5rem;
    margin-top: 3rem;
    line-height: 2.5rem;
  }
  .migration-btn {
    color: #0062ad;
    border: 1px solid #0078d4;
    font-size: 14px;
    padding: 15px 16px;
    margin-right: 15rem;
  }
  .migration-btn:hover {
    background-color: #0062ad;
    color: white;
    text-decoration: underline;
  }
  .discover-container {
    padding: 3rem 9rem;
    margin-top: 1rem;
    margin-right: 3rem;
  }
  