.section {
  background-color: #f8f9fa;
  padding: 3rem;

  width: 152rem;
  margin-left: 5rem;
}
.section-heading {
  font-size: 15px;
  margin-left: 13rem;
}
.section-text {
  display: flex;
  flex-direction: column;
  width: 24vw;
  margin: 3rem 0;
  color: #4c4c51;

  padding-left: 10rem;
}

.service-btn {
  color: #0062ad;
  border: none;
  margin-left: 5rem;

  background-color: #f8f9fa;
  padding: 1rem;
}
.section-text:hover {
  text-decoration: underline;
}
.section-bottom {
  color: #0062ad;
}

.azureservice-card {
  width: 13rem;
  height: 13rem;
  text-align: center;
  line-height: 1rem;
  box-shadow: 0 5px 5px rgb(0 0 0 / 14%);
}
.azureservice-card h {
  color: #0062ad;
  padding: 2rem;
}
.azureservice-info {
  display: flex;
}

.section-first {
  display: flex;
}
@media only screen and (max-width: 500px) {
  .popular {
    display: none;
  }
  .section-first {
    width: 80%;
    padding: 0;
  }
}
.azure-portal img {
  margin-top: 1rem;
  max-width: 35rem;
  height: 30rem;
  border: 1.7rem solid black;

  border-radius: 10px;
  box-shadow: 0 10px 20px rgb(0 0 0 / 14%);
}
.azure-portal img:hover {
  transition: 0.4s;
  animation: ease-in;
  transform: translateX(10%);
}
.azure-portal h5 {
  color: #0062ad;
  line-height: 2rem;
}
.card-section {
  display: grid;
  grid-template-columns: repeat(3, 0.1fr);
  padding-right: -1rem;
  margin-left: 1rem;
}

.popular {
  border: 5px solid;
  border-color: transparent;
  padding-left: 5rem;
  height: 3rem;
  width: 80%;
  margin: 0.4rem;
  text-align: start;

  background-color: #f8f9fa;
  font-size: 15px;
}
.popular:hover {
  text-decoration: underline;
}
