.beforefooter-container {
  margin-top: 4rem;

  padding-left: 19rem;
  padding-right: 7rem;
}
.beforefooter-container h2:hover {
  text-decoration: underline;
}
.beforefooter-cards {
  width: 80rem;
  display: flex;
  gap: 2rem;
  align-items: center;
}
.beforefooter-cards h2 {
  padding-left: rem;
  font-size: 18px;
}
.beforefooter-card1 {
  height: 15rem;
  width: 45rem;
  color: #fff;
  font-size: 1rem;
  line-height: 2rem;
  background-color: #243a5a;
  border-radius: 6px;
}
.beforefooter-card1 h2 {
  margin-left: 1rem;
  font-weight: 600;

}
.beforefooter-card1 img {
  width: 5rem;
  padding-left: 2rem;
  margin-top: 2rem;
}
.beforefooter-card2 {
  height: 15rem;
  width: 45rem;
  background-color: #1a1a1f;
  color: #fff;
  line-height: 2rem;
  border-radius: 6px;
}
.beforefooter-card2 h2 {
  margin-left: 1rem;
  font-weight: 600;
}

.beforefooter-card2 img {
  width: 3.9rem;
  padding-left: 1rem;
  margin-top: 2rem;
  margin-left: 1rem;
}
.beforefooter-card3 {
  height: 15rem;
  width: 45rem;

  color: #fff;
  line-height: 2rem;

  background-color: #0062ad;
  border-radius: 6px;
}

.beforefooter-card3 img {
  width: 4rem;
  padding-left: 1rem;
  margin-top: 1rem;
}
.beforefooter-card3 h2 {
  padding-left: 1rem;
  font-weight:800;
}
