.card-container {
  display: flex;

  max-width: 60rem;
  margin: 3rem;
}
.card {
  margin: 0;
  box-shadow: 0 5px 5px rgb(0 0 0 / 14%);
  display: flex;
  width: 47rem;
  height: 10rem;
  padding: 2rem;
  line-height: 1rem;
}
.card h1 {
  padding: 15px;

  color: #1a1a1f;
  font-size: 10px;
}
.card img {
  width: 8rem;

  border-radius: 20px;
  object-fit: cover;
}
.card h3 {
  color: #0062ad;
  font-size: 1rem;
  align-items: center;
  justify-content: center;
  line-height: 2rem;
  padding: 1rem;
}
.card h3:hover {
  text-decoration: underline;
}
.card p {
  color: #4c4c51;
}
.wrap-wr {
  margin-left: 12rem;
}

.pre-card {
  text-align: center;
  margin: 2rem;
}
.header-bottom {
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 2rem;
}
