.discover-container {
  padding: 5rem 9rem;
  margin-top: 1rem;
}
.discover-container h2 {
  font-size: 1.5rem;
  margin-left: 3rem;
}
.discover-card {

  width: 51rem;
  display: flex;
  margin: 2rem;
}
.discover-info {
  height: 25rem;
  width: 20rem;

  margin: 1.2rem;

  align-items: center;
  box-shadow: 0 2px 5px rgb(0 0 0 / 14%);
}
.discover-card img {
  width: 18rem;
  height: 10rem;
  border-radius: 10px;
  margin-bottom: 12px;
  margin: 1.5rem;
}
.discover-info h5,
p {
  align-items: center;
  line-height: 1.5rem;
  padding-left: 2rem;
}
.discover-info h5,
p:hover {
  text-decoration: underline;
}

.discovers-text {
  background: url("https://azurecomcdn.azureedge.net/cvt-3a0af14d818e4762dbc7d778aa89aafe2448b9ae7b54dadfa2dfdfdf72975bf8/images/page/home/news/build-your-game-1250w.webp");
  height: 400px;
  width: 700px;
  object-fit: cover;
  margin: 1rem;
}

.discovers-text h3 {
  font-size: 18px;
  color: #fff;
  text-align: center;
  justify-content: center;
  padding: 8rem;
}

.discover-rowcard {
  height: 27rem;
  width: 26rem;
  /* margin: 22rem; */

  margin-left: 2rem;
  display: flex;
}

.discover-rowcard img {
  width: 18rem;
  height: 10rem;
  border-radius: 10px;
  margin-bottom: 12px;
  margin: 1.5rem;
}
.discover-rowcard h5,
p {
  align-items: center;
  line-height: 1.5rem;
  padding-left: 2rem;
}
.discover-rowcardtext {
  background-image: url("https://azurecomcdn.azureedge.net/cvt-d941d2e182be8e17b57ea4354014dff1138e97101d22f6e941e56ac6228b0260/images/page/home/news/azure-regions-1250w.webp");
  height: 400px;
  width: 625px;
  object-fit: cover;
  margin: 1rem;

  border-radius: 10px;
}
.discovertext p {
  color: white;
  align-items: center;
  justify-content: center;
  font-size: 2vh;
  padding-left: 2rem;
  text-align: center;
  padding: 6rem;
}
