.container {
  padding-left: 9rem;
  background-color: #f4f5f6;
  margin-top: 4rem; 
}
.row {
   padding-top: 5rem; 
  height: 3rem;
  display: flex;
  align-items: center;
}
.footer-btn {
  width: 14rem;
  height: 3rem;
  align-items: center;
  border-radius: 3px;
  display: flex;
 padding-left: 1rem;
  border: none;
}
.row img {
  width: 1.3rem;
  gap: 2rem;
}
.row {
  padding-left: 10rem;
}
.main-column {
  display: flex;
   margin-left: 8rem;
  margin-top: 2rem; 
}
.english {
  height: 2rem;
  width: 10rem;
}
.main-column li {
  font-size: 11px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 2.5rem;
  padding-left: 1rem;
  text-align: start;
}
.main-column ul {
  padding: 2rem;
}
.main-column h5 {
  margin-left: 1rem;
}
.main-column li:hover {
  text-decoration: underline;
}
.footer-button {
  margin-top: 2rem;
  padding-left:11rem; 
  display: flex;
  
  /* padding-top: 6rem; 
   */
}

.footer-info h5 {
  line-height: 1.3rem;
  color: #1a1a1f;
  font-size: 10px;
  font-weight: 500;
}
.button-footer {
  width: 12rem;
  height: 2rem;
  background-color: #fff;
  text-align: start;
}
.footer-link {
  padding:1rem; 
}

.footer-link ul {
  font-size: x-small;
}
.footer-li {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
   margin-right: 18rem; 
}
.copy-right {
  display: flex;
  font-size: x-small;
  gap: 1rem;
  justify-content: center;
   /* padding-left: 42rem;  */
}
.footer-content{
padding-left: 25rem;

}
.footer-content li:hover {
  text-decoration: underline;
  
}
.footer-social{
  flex-direction: row;
 
}
.social ul{
  display: flex;
  gap: 2rem;
  padding: 1rem;
}

