.row {
    display: flex;
    margin: 5rem;
    padding-left:10rem;
  
    align-items: center;
  
    gap: 3rem;
  }
  
  .footer-btn {
    width: 15rem;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
  }
  
  .row img {
    width: 2rem;
    gap: 2rem;
  }
  