.nba-img {
  background: url("../assets/Images/Bas.webp");
  height: 78vh;
  background-size: cover;
  width: 60%;
}
.nba-text {
align-items: center;
  
  color: #f4f5f6;

  height: 8rem;
  display: flex;
  padding: 29rem;
  padding-left: 1rem;
}
.nba-info {
  padding-top: 2rem;
  text-align: center;
  background-color: #1a1a1ff0;
  height: 9rem;
  font-size: 18px;
  font-weight: 40rem;
  line-height: 2rem;
  margin-left: 20rem;
}

.nba-info h5 {
  
  
  padding-right:20rem;
  text-decoration: underline;
}
