.nhss-img {
  background: url("../assets/Images/Mob.webp");
  height: 70vh;
  background-size: cover;
  width: 60%;
}
.nhss-text {
  color: #f4f5f6;

  height: 5rem;
  display: flex;
  padding:30rem;
   padding-left: 20rem; 
}
.nhss-info {
  background-color: #1a1a1ff0;
  height: 9rem;
  width: 35rem;
  font-size: 18px;
  font-weight: 40rem;
  line-height: 2rem;
  padding:1rem;
  text-align: start;
  

}

.nhss-info h5 {
  padding-left:1rem;
  /* margin-right: 26rem; */
  text-decoration: underline;
}
