.nhss-img{
    background: url("../assets/Images/Mob.webp");
    height: 80vh;
    background-size: cover;
    width:70%;
  }
  .nhss-text{
    color: #f4f5f6;
  
    height: 7rem;
    display: flex;
    padding: 30rem;
    padding-left: 2rem;
  }
  .nhss-info {
    background-color: #1a1a1ff0;
    height: 8rem;
    width: 42rem;
    font-size: 18px;
    font-weight: 40rem;
    text-align: center;
    line-height: 2rem;
  }
  .nhss-info h5 {
    margin-right: 26rem;
    text-decoration: underline;} 