.partners {
    display: flex;
    background-color: #f4f5f6;
    font-size: 12px;
    padding: 20px 20px;
    line-height: 2rem;
    color: #1a1a1f;
    height: 90%;
    max-width: 70%;
    margin-left: 8rem;
  }
  .partners-text {
    margin-right: 3rem;
  }
  .partners-coloum {
    margin: 3rem;
  }
  .partners-row {
    padding: 1rem;
  }