.pepsico-img {
  background: url("../assets/Images/Pep.webp");
  height: 70vh;
  background-size: cover;
  width: 60%;
}
.pepsico-text {
  color: #f4f5f6;

  height: 7rem;
  display: flex;
  padding: 30rem;
  padding-left: 2rem;
}
/* .pep-info {
  background-color: #1a1a1ff0;
  height: 8rem;
  width: 42rem;
  font-size: 18px;
  font-weight: 40rem;
  
  line-height: 2rem;
  margin-left: 20rem;
}
.pep-info h5 {
  margin-right: 26rem;
  text-decoration: underline;
} */
.pep-info {
  width: 39rem;
  background-color: #1a1a1ff0;
  height: 9rem;
  padding-top: 2rem;
  font-size: 18px;
  font-weight: 40rem;
  text-align: start;
  line-height: 2rem;
  margin-left: 25rem;
  
  
  
}
.pep-info h5 {
  align-items: center;
  margin-left:1rem;
  text-decoration: underline;
}
