.solution-text{

    width:20rem;
    height:20rem;

}
.style-button{
    border:none;
    text-align: center;
    line-height:4rem;
    
    
}
.solution-container{
    background-color: #f4f5f6;
    margin-top: 2rem;

}
