*{
  box-sizing: border-box;
  margin: 0; 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{

  display: flex;
  padding:1rem;
  justify-content: space-between;
  margin:-2rem;

  
}
.head{
  display: flex;
  justify-content: space-between;
  padding-left:2rem;
  margin-top:1rem;
 }


header img{
  width:5rem;
  height:2rem;
}

header .nav ul{
  display: flex;
  align-items: center;
}
header .nav a{
  text-decoration: none;
  display: block;
  padding: 1rem;
  margin: 0 2px;
  
}
header .nava ul{
  display: flex;
  align-items: center;
  padding-left: 10rem;
  margin: 1rem;
  }
  header .nava a{
   padding-left:3rem;
    margin: 0 5px;
  }
.nav li:hover{
  text-decoration: underline;
}
.nava li:hover{
  text-decoration: underline;
}

/* @media (max-width: 500px){
  body {


  } */


  

  


ul{
  list-style: none;
}
a{
  text-decoration: none;
  color: black;
  font-size:13px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.btn{
color: #1A1A1F;
background-color:#89C409 ;
width:100px;
padding: 7px;
border-radius:9px;
}
.btn:hover{
  text-decoration: underline;
}
.btn-b{
  width: 100px;
  height: 30px;
  padding:5px 25px 5px 12px;
  
}
.heading h3{
  background-color:#0078D4;
  height:50px;
  text-align: center;
  padding: 1rem; 
  color:white;
  font-size: 14px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.heading h3:hover{
  text-decoration: underline;
}



.banner{
  background-image:url("https://azurecomcdn.azureedge.net/cvt-374bb9e55c52c54a3c8ef40a8d69bc4d412cea2c7459a373e4b63ce88be37ad7/images/page/home/hero-desktop.webp");
  height:75vh;
  background-size: cover;
  
}
.text{
  padding: 5rem 10rem ;
  
}
.pre-heading1{
  color: #50E6ff;
}
.pre-heading2{
  color: white;
  font-size: 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.pre-para{
  color: white;
  font: size 18px; 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.btn2{
color:black;
border:1px solid #6f9e02;
border-radius: 1rem;
background-color: #89C409;
font-size: 14px;
padding: 1rem;
display: inline-block;
}
.btn2:hover{
  text-decoration: underline;
}
.card{
  margin:1rem;
  box-shadow:0 2px 5px rgb(0 0 0 / 14%); 

  
}
.card h1{
  padding:10px;

  color: #1A1A1F;
  font-size:24px;
}
.card img{
  width:10rem;
  height:10rem;
  border-radius: 10px;
  object-fit: cover;
  
}
.card h3{
  color:#0062AD;
}
.card h3:hover{
  text-decoration: underline;
}
.card p{
  color: #4c4c51;
  margin:1rem ;
}

.wrapper{
  padding:1rem;
  margin-left: 14rem;
  background-color: #ffff;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  

  }
  .wrap-wr{
  display: flex;
 
  

  }
  .wrap{
    margin:1.rem;
    padding:10px;
    

  
   }

  .pre-card{
    margin-top: -3rem;
    font-size:1.5rem;
    margin-left: 10rem;
    padding: 5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    letter-spacing: normal;
  }
  .card-container{

    border-radius: 2rem;
    height: 20rem;
    
    justify-content: space-between;
    align-items: center;
    max-width:35rem;
    }
    .header-bottom{
      
      display: flex;
      align-items: center;
      justify-content: center;
       }
       .btn3{
         color:#0062ad;
         border: 1px solid #0078d4;
         font-size: 14px;
         padding: 10px 16px;
         
       }
       .btn3:hover{
         background-color: #0062ad;
         color: white;
         text-decoration: underline;
       }
       .section{
         background-color:#f8f9fa;
       }
       .section-heading{
         font-size: 15px;
         margin-left: 10rem;
         padding: 3rem;

         
         
         
       }
       .section-text{
         color:#4c4c51;
         line-height: 4rem;
         font-size: 14px;
         margin-left: 15rem;
       }
       .section-text:hover{
         text-decoration: underline;
       }
       .see{
         color:#0062AD;
       }
       .explore{
         display: flex;
         background-color:#f4f5f6;
         font-size: 12px;
         padding: 20px 20px;
         line-height: 2rem;
         color: #1A1A1F;
         height:90%;
         max-width:70%;
         margin-left: 8rem;
       }
       .explore-text{
         margin-right: 3rem;

         
       }
       .explore-coloum {
         margin: 3rem;
       }
       .explore-row{
         padding:1rem;
       }

       .product-btn{
         width: 200px;
         height: 2rem;
         padding-right:3rem;
         
         color: #1A1A1F;
         background-color: #f4f5f6;
         text-align: center;
        
       }
       .products{
         display: flex;
         
         width: 70%;
         height:50rem;
         background-color:#f4f5f6;
         margin-top: 1rem;
         margin-left: 5rem;
         line-height: 2rem;
         font-size:12px;
        
        }
        .pro-row{
          padding: 4rem;
          margin: 2rem;
          
          
        }
        .production-cards{
        
      height: 30rem;
          margin-left: 2rem;
        
        justify-content:space-between;
        align-items: flex-end;
        border-radius: 2px solid gray;
        box-shadow:0 2px 5px rgb(0 0 0 / 14%); 

        }

        .production-container{
          display: flex;
          align-items: center;
          gap: 2rem;
          line-height:1rem;
          color: #1A1A1F;
    
      margin-left: 2rem;
      
      
    }
    .production-container h3:hover{
      text-decoration: underline;
      
    }
    .Pro-card1,.pro-card2,.pro-card3,.pro-card4{
      height: 8rem;
    }
    .pro-card-hover:hover{
      background-color:#fff;

    }
    
      .production-cards img{
          width:2rem;
        }
        .azureinnovation{
          text-align: center;
          margin: 1rem;
        }
        .button-img{
        padding:1rem;
           margin:1rem;
           display: flex;
           align-items: center;
           justify-content: center;
      }
        .button-img1,.button-img2,.button-img3,.button-img4,.button-img5{
          margin:1rem;
          background-color: #fff;
          border: none;
        }
        .azureinnovation{
          margin-top:-2rem;
        }
        
        .azureinnovation-img{
          background: url("https://azurecomcdn.azureedge.net/cvt-374bb9e55c52c54a3c8ef40a8d69bc4d412cea2c7459a373e4b63ce88be37ad7/images/page/home/customer-tabs/nba-desktop.webp");
          height:80vh;
          background-size: cover;
          width:100%;


        }
        .azureinnovation-text{
          color: #f4f5f6;
          
          height:7rem;
          justify-content: center;
          text-align: center;
          display: flex;
          padding: 30rem;
          padding-left: 2rem;
      
        }
        .inno-info{
          background-color:#1A1A1ff0;
          height: 8rem;
          width: 42rem;
          font-size:18px;
          font-weight: 40rem;
          text-align: center;
          line-height:2rem;
        
        }
        .inno-info h5{
          margin-right: 26rem;
          text-decoration: underline;
        }
        .azuremigration {
          background-color:#f8f9fa;
          display: flex;
          align-items: center;
        
        }
       .azuremigration img{
         width:33rem;
         height: 35rem;
         margin:2rem;
         justify-content: center;
         align-items: center;
        
         margin-left: 15rem;
         margin-top: 2rem;
         object-fit: cover;
         
         
       }
       .azuremigration-text {
         padding:5rem;
        
         text-align: center;
         justify-content: center;
         margin-bottom: 5rem;
         line-height: 4rem;
         
          }
          .migration-text{
          color:black;
          font-size: 1.5rem;
          margin-top: 3rem;
          line-height: 2.5rem;
        
          
          }
          .migration-btn{
            color:#0062ad;
            border: 1px solid #0078d4;
            font-size: 14px;
            padding: 15px 16px;
            margin-right:15rem;
            
            
          }
          .migration-btn:hover{
            background-color: #0062ad;
            color: white;
            text-decoration: underline;
          }
          .discover-container{
          
        
            padding: 3rem 9rem;
            margin-top:1rem;
            margin-right: 3rem;
                }
            .discover-container h2{
              font-size: 1.5rem;
              text-align: center;
              margin-right: 3rem;
            }
          .discover-card{
            margin: 40px;
            /* height:6rem; */
            width: 50rem;
            display: flex;
            column-gap:10px;
          
           

          }
         .discover-info{
           height: 25rem;
           width: 20rem; 
          
           margin: 1.2rem;
           align-items: center;
           box-shadow: 0 2px 5px rgb(0 0 0 / 14%);
          
         }
          .discover-card img{
            width: 18rem;
            height: 10rem;
            border-radius: 10px;
            margin-bottom: 12px;
            margin:1.5rem;
          }
          .discover-info h5,p{
            align-items: center;
            line-height: 1.5rem;
            padding-left: 2rem;
          
             }
             .discover-info h5,p:hover{
               text-decoration: underline;

             }
            
            .discovers-text{
              background:url("https://azurecomcdn.azureedge.net/cvt-b25e2f3ec9c26362149a7eee6f74a05256aebbf9fc0478ff53685ffa53bf98b1/images/page/home/news/linux-w-azure-1250w.webp");
             height:400px;
             width:700px;
            object-fit: cover;
            margin: 1rem;
            
            
            }
    
          .discovers-text h3{
            font-size:18px;
              color: #fff;
              text-align: center;
              justify-content: center;
            padding: 8rem;
             } 


             .discover-rowcard{
             height: 27rem;
              width: 26rem;
              /* margin: 22rem; */
              
              margin-left:2rem;
              display: flex;
               }

             .discover-rowcard img{
              width: 18rem;
              height: 10rem;
              border-radius: 10px;
              margin-bottom: 12px;
              margin:1.5rem;
             }
             .discover-rowcard h5,p{
              align-items: center;
              line-height: 1.5rem;
              padding-left: 2rem;

             }
             .discover-rowcardtext{
               background-image:url("https://azurecomcdn.azureedge.net/cvt-d941d2e182be8e17b57ea4354014dff1138e97101d22f6e941e56ac6228b0260/images/page/home/news/azure-regions-1250w.webp");
               height:391px;
               width:600px;
              object-fit: cover;
              margin:1rem;
            
            
              }
              .discovertext p{
                color: white;
                align-items: center;
                justify-content: center;
                font-size:2vh;
                padding-left: 2rem;
                text-align: center;
                padding: 6rem;
                
            }
            .prediscover-container{
              background-image: url("https://azurecomcdn.azureedge.net/cvt-d941d2e182be8e17b57ea4354014dff1138e97101d22f6e941e56ac6228b0260/images/page/home/dev-stories/desktop.webp");
             height:43rem;
             
             padding-top: 4rem;
            
        
          
            background-size: cover;
            
            } 
             .prediscover-img{
             color: #f4f5f6;
          
              height:3rem;
              justify-content: center;
              text-align: center;
              display: flex;
              padding: 25rem;
              padding-left: 2rem;  }
       
       .prediscover-info{
       background-color:#1A1A1ff0;
       height: 10rem;
       width: 42rem;
       font-size:14px;
       font-weight: 40rem;
       text-align: center;
       line-height:2rem;
      }
      .button-video{
        color:#ffff;
        background-color: #0078D4;
      margin-right:25rem;
         font-size: 14px;
         padding: 10px 16px;
        
      }
      .prediscover-info h5{
      padding: 2rem;
      }
      .beforefooter-card img{
        width: 50px;
        height: 50px;

      }
      .beforefooter-container{
        display: flex;
        margin: 4rem;
      }

      .beforefooter-card{
        width:25rem;
        height:15rem;
        background-color: #243A5A;
        margin: 3rem;
        
      }
      
      
      .beforefooter-card1{
        padding:2rem;
        color: #fff;
        font-size:1rem;
      line-height: 2rem;
    

      }
      .beforefooter-card2{
        background-color: #1A1A1F;
        color: #fff;
      }
     
     
      
            

            
              
             
      
    
        
     
      
    
        
         
      
        
  
        
        

       

        

  




