.azureinnovation-heading {
  margin-top: 2rem;
}
.azureinnovation {
  text-align: center;
  margin: 2rem;
}
.button-img {
  padding: 1rem;
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button-img1,
.button-img2,
.button-img3,
.button-img4,
.button-img5 {
  margin: 1rem;
  background-color: #fff;
  border: none;
}
/* .azureinnovation{
    margin-top:-2rem;
  }
   */
.azureinnovation-img {
  background: url("https://azurecomcdn.azureedge.net/cvt-374bb9e55c52c54a3c8ef40a8d69bc4d412cea2c7459a373e4b63ce88be37ad7/images/page/home/customer-tabs/nba-desktop.webp");
  height: 80vh;
  background-size: cover;
  width: 100%;
}
.azureinnovation-text {
  color: #f4f5f6;

  height: 7rem;
  justify-content: center;
  text-align: center;
  display: flex;
  padding: 30rem;
  padding-left: 2rem;
}
.inno-info {
  background-color: #1a1a1ff0;
  height: 8rem;
  width: 42rem;
  font-size: 18px;
  font-weight: 40rem;
  text-align: center;
  line-height: 2rem;
}
.inno-info h5 {
  margin-right: 26rem;
  text-decoration: underline;
}
.azuremigration {
  background-color: #f8f9fa;
  display: flex;
  align-items: center;
}
.azuremigration img {
  width: 33rem;
  height: 35rem;
  margin: 2rem;
  justify-content: center;
  align-items: center;

  margin-left: 15rem;
  margin-top: 2rem;
  object-fit: cover;
}
.azuremigration-text {
  padding: 5rem;

  text-align: center;
  justify-content: center;
  margin-bottom: 5rem;
  line-height: 4rem;
}
